noproxy=ai-gitlab01.pegatroncorp.com,localhost,127.0.0.1

# 1. 告訴 npm，所有 @pegaverse 開頭的套件都要去和碩 GitLab 找
@pegaverse:registry=https://ai-gitlab01.pegatroncorp.com:5050/api/v4/projects/1943/packages/npm/

# 2. 認證資訊 (請將擁有跨project權限的token export到CICD_PUBLISH_TOKEN後再進行pnpm install)
# 需要設定npm config set noproxy "ai-gitlab01.pegatroncorp.com,localhost,127.0.0.1"不然會403無法安裝
//ai-gitlab01.pegatroncorp.com:5050/api/v4/projects/1943/packages/npm/:_authToken=${CICD_PUBLISH_TOKEN}

# 3. 針對自簽憑證的必要設定
always-auth=true
strict-ssl=false
